body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    color: #555;
    text-align: left;
}

#totalCompras {
    font-weight: bold;
    color: #007bff;
}

#carrito {
    text-align: left;
    padding-left: 0;
    margin-left: 20px;
}

#productos {
    margin-bottom: 20px;
}


.eliminar-producto {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.eliminar-producto:hover {
    background-color: #c0392b;
    margin-left: 12px;
}